myenv
venv
startup/__pycache__
startup/migrations/__pycache__

investor/__pycache__
investor/migrations/__pycache__

mentor/__pycache__
mentor/migrations/__pycache__

login/_pycache
login/migrations/__pycache__


administrator/__pycache__
administrator/migrations/__pycache__

Startup_incubator/__pycache__
recommendations/__pycache__


